<launch>
    
    <param name="use_sim_time" value="true"/>

    <arg name="map_location" default="$(find mcl_python)/map" />
    
    <rosparam file="$(find mcl_python)/config/config.yaml" />
    <rosparam file="$(find mcl_python)/config/lab.yaml" />
    <rosparam file="$(find mcl_python)/config/global.yaml" />
    
    <arg name="map_name" default="lab" />
    <arg name="bag_location" default="$(find mcl_python)/bagfiles/lab/lab_1_amcl_global.bag" />
   
    <!-- Run map server to publish the map -->
    <node pkg="mcl_python" type="mcl_node.py" name="monte_carlo_localization" output="screen">
        <param name="map_file" value="$(arg map_location)/$(arg map_name).pgm" />
    </node>

    <!-- Publish the transform that is missing in the pioneer -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="" args="0 0 0 0 0 0 1 base_link laser" />

    <!-- Place map frame at odometry frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom"/>

    <!-- Run map server to publish the map -->
    <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_location)/$(arg map_name).yaml" />

    <!-- Play your bag (change the directory of your bag) -->
    <arg name="node_start_delay" default="5.0" />  
    <node pkg="rosbag" type="play" name="player" output="screen" args="-r 4 $(arg bag_location)" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />

</launch>